/* ============================
 Common Styles 
===============================*/

/* For removing bootstrap*/
ul,ol{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    transition: all .4s ease;
    color: black;

    &:hover{
        color: $primary-color;
    }
}


h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
    color: inherit;
}

/* ============================
 Spacing 
===============================*/

.mb-10{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-50{
    margin-bottom: 50px;
}

.mb-60{
    margin-bottom: 60px;
}

.mb-70{
    margin-bottom: 70px;
}

.mb-80{
    margin-bottom: 80px;
}


